<!DOCTYPE html>
<html>
<head>
<style>

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  height: 75px;
  width: 400px;
}

body {
  background-image: url('../static/image/brain.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat : no-repeat
}
</style>
</head>
<body>

<center>

<h1 style="color:white; font-size:50px">Welcome to Image Retrieval</h1>
</center>

<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>


<h2 style="color:white">-By</h2>
<h2 style="color:white">&emsp; Ashwin Umadi</h2>
<h2 style="color:white">&emsp; Kushal N</h2>
<h2 style="color:white">&emsp; Nagavishnu B K</h2>
<center>
	<form action="/start" id="textform" method="post">
	    
	    <input type="submit" name="start" value="Start" class="button">

	</form>
</center>
</body>


</html>
